In [111]:
import pandas as pd
import numpy as np

In [155]:
d = pd.read_csv("LPD_2024_public.csv")
d.iloc[0]

ID                                                                     1
Binomial                                             Balearica_regulorum
Replicate                                                              1
Included in LPR2024                                                    0
Citation               Pomeroy, D. and P. Mwima (2002). The State of ...
                                             ...
2018                                                                 NaN
2019                                                                 NaN
2020                                                                 NaN
Native                                                                 1
Unnamed: 102                                                         NaN
Name: 0, Length: 103, dtype: object

In [156]:
d = d.drop(['Replicate', 'Included in LPR2024', 'Citation', 'Common_name', 'Order', 'Family', 'Genus', 'Species', 'Subspecies', 'IPBES_region', 'Region', 'IPBES_subregion', 'Latitude', 'Longitude', 'Specific_location', 'System', 'FW_biome', 'T_realm', 'T_biome', 'FW_realm', 'M_ocean', 'M_realm', 'M_biome'], axis=1)

In [157]:
df = d[d.Country == 'United States']
df

,ID,Binomial,Class,Location,Country,All_countries,Units,1950,1951,1952,...,2013,2014,2015,2016,2017,2018,2019,2020,Native,Unnamed: 102
197,198,Loxioides_bailleui,Aves,Hawaii,United States,United States,Population estimate,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
198,199,Telespiza_cantans,Aves,"Laysan Island, Hawaii",United States,United States,Number of individuals,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
794,819,Acipenser_transmontanus,Actinopteri,Kootenai River population (from Kootenay Lake ...,United States,"United States, Canada",Estimated wild population (1000's),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
797,822,Alosa_pseudoharengus,Actinopteri,"Damariscotta River, Maine",United States,United States,SSB (Thousands of lbs),401.0,428.3,442.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
799,824,Alosa_sapidissima,Actinopteri,"Connecticut River, Connecticut",United States,United States,SSB (Thousands),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35984,900017,Tachybaptus_dominicus,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.046705,0.046843,0.047566,0.048480,0.047921,0.048142,0.048430,0.048687,1,NaN
35985,900018,Trogon_elegans,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.070352,0.070497,0.070780,0.070842,0.070994,0.071029,0.071073,0.070938,1,NaN
35986,900019,Tympanuchus_pallidicinctus,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.363087,0.345594,0.320458,0.309323,0.307456,0.313919,0.298733,0.293664,1,NaN
35987,900020,Tyrannus_crassirostris,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.093689,0.096271,0.098486,0.100004,0.100395,0.101282,0.102529,0.103804,1,NaN
35992,1000004,Oncorhynchus_tshawytscha,Actinopteri,Sacramento River winter-run,United States,United States,Abundance (number of spawners),NaN,NaN,NaN,...,6086.000000,3015.000000,3440.000000,1549.000000,979.000000,2639.000000,8128.000000,7428.000000,1,NaN

In [158]:
#deal with Estimated Wild Population 1000s
mask = df['Units'] == "Estimated wild population (1000's)"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x * 1000 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

#deal with SSB thousands of lbs
mask = df['Units'] == "SSB (Thousands of lbs)"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x * 1000 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "SSB (Thousands)"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x * 1000 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

df.loc[df['Units'] == "Number of individuals", 'Units'] = 'Population_value'
df.loc[df['Units'] == "Population estimate", 'Units'] = 'Population_value'

df

,ID,Binomial,Class,Location,Country,All_countries,Units,1950,1951,1952,...,2013,2014,2015,2016,2017,2018,2019,2020,Native,Unnamed: 102
197,198,Loxioides_bailleui,Aves,Hawaii,United States,United States,Population_value,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
198,199,Telespiza_cantans,Aves,"Laysan Island, Hawaii",United States,United States,Population_value,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
794,819,Acipenser_transmontanus,Actinopteri,Kootenai River population (from Kootenay Lake ...,United States,"United States, Canada",Population_value,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
797,822,Alosa_pseudoharengus,Actinopteri,"Damariscotta River, Maine",United States,United States,Population_value,401000.0,428300.0,442200.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
799,824,Alosa_sapidissima,Actinopteri,"Connecticut River, Connecticut",United States,United States,Population_value,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35984,900017,Tachybaptus_dominicus,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.046705,0.046843,0.047566,0.048480,0.047921,0.048142,0.048430,0.048687,1,NaN
35985,900018,Trogon_elegans,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.070352,0.070497,0.070780,0.070842,0.070994,0.071029,0.071073,0.070938,1,NaN
35986,900019,Tympanuchus_pallidicinctus,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.363087,0.345594,0.320458,0.309323,0.307456,0.313919,0.298733,0.293664,1,NaN
35987,900020,Tyrannus_crassirostris,Aves,United States,United States,United States,Abundance index,NaN,NaN,NaN,...,0.093689,0.096271,0.098486,0.100004,0.100395,0.101282,0.102529,0.103804,1,NaN
35992,1000004,Oncorhynchus_tshawytscha,Actinopteri,Sacramento River winter-run,United States,United States,Abundance (number of spawners),NaN,NaN,NaN,...,6086.000000,3015.000000,3440.000000,1549.000000,979.000000,2639.000000,8128.000000,7428.000000,1,NaN

In [159]:
df = df[df.Class != 'Actinopteri']
df = df[df.Class != 'Actinopterygii']
df = df[df.Class != 'Elasmobranchii']
df = df[df.Class != 'Amphibia']
df = df[df.Class != 'Reptilia']

mask = df['Units'] == "Breeding population estimate 1,000's of pairs"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x * 2 *1000 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Individuals (thousands)"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *1000 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of Pairs"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x * 2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of nests per season (thousands)"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x * 2 *1000 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of males"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of breeding females"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of females"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

In [148]:

mask = df['Units'] == "Number of pairs"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Nesting pairs"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of nests per season"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of breeding birds"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of female nesters"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

print(df['Units'].unique())

['Population_value' 'Population index' 'Peak winter numbers'
 'Number of birds present on December 31st' 'Peak winter counts'
 'Estimated numbers' 'number of pairs' 'Annual index of population change'
 'Number of breeding pairs' 'Number of nests' 'Individuals' 'No. of nests'
 'Individual birds' 'Number of Individuals'
 'Number of juveniles and adults' 'Annual total of mean beach counts'
 'Population size' 'number of seals' 'population estimate'
 'Number of pups' 'Annual index of abundance' 'Breeding pairs'
 'Number of adults per 10ha' 'Number of singing males'
 'Number of singing males detected' 'Individuals captured'
 'Total number of individuals' 'Number of adults'
 'Number of individuals per 10 ha' 'Number of individuals seen per year'
 'Number of adults per 10 ha' 'Number of adults per 10 ha.'
 'Mean no of doves seen per route' 'Total nests'
 'Mean number of individuals per route'
 'Mean number of individuals per CBC party-hour'
 '% of scent stations visited each year. Does not indicate actual numbers but can be used as index of trend.'
 'Number of animals seen per hour'
 'Index of snowshow hare density per /100km.' 'Index (observed/day)'
 'Number of individuals per 100 trap nights' 'Numbe of individuals'
 'Number of individuals (Adults)' 'NOT DETERMINED'
 'Mean number of sightings per flight (May - July)' 'bears/hour'
 'Number of foxes seen on carcasses/100 hours' 'Mean density (#/ha)'
 'Indidviduals' 'Population estimates' 'Abundance estimate'
 'yearly mean count' 'number of individuals'
 'number of individuals per volunteer respondent'
 'Number of individuals per volunteer respondent' 'Active Nests'
 'Number of territorial females' 'no. of whales per 10km survey effort'
 'Density: N-Km-2' 'Density: N-100km' 'Adjusted Count of Individuals'
 'Density (Individuals/km-2)' 'Corrected density no. km-2'
 'Individuals ha^-1' 'Individuals (adults)' 'Individuals x 10^6'
 'Male territories or breeding pairs' 'Breeding pairs 40ha^-1'
 'Average number of individuals' 'minimal population estimate'
 'Mean density' 'mean density' 'mean desnity' 'Unknown' 'density per km2'
 'Estimated population' 'Number of individuals per hectare'
 'Average number of individuals caught over a 6 month period'
 'individuals per 10 trap nights' 'Count of Bison' 'Count of Elk' 'Adults'
 'Frequency of group sightings' 'Frequency of sightings of group per year'
 'frequency of group sightings' 'Frequency of group sightings per year'
 'Frequency of groups sighted' 'No. nests' 'No. of breeding pairs'
 'number of nests/km2' 'Number of Nests' 'No of nests' 'Number of burrows'
 'Density' 'Local otter population'
 'Regional abundance (birds/5,000 hours)' 'Percentage of occupied sites'
 'Density (no. burrows per metre)' 'Total count' 'Mean number of non-pups'
 'Porpoise abundance' 'Relative abundance (porposies/km)'
 'total population' 'Estimated abundance' 'Mean number spotted'
 'Number of whales identified'
 'monthly mean number of seals hauled out in the bay'
 'number of humpback whales per linear kmx10Â¯Â²' 'Nest index'
 'Population index (Individuals per km2)' 'animals seen/km2'
 'Density (total otters per kilometer squared)'
 'Breeding density (number of occupied sites per kilometer of coastline)'
 'No. of otters/km of coastline' 'No. of Individuals' 'No.of Individuals'
 'individuals/100kmÂ²' 'Annual count/individuals' 'Occupied Nests'
 'Occupied nests' 'Estimated number of individuals'
 'Maximum number of individuals'
 'Mean number of individuals per kilometre'
 'Number of breeding individuals' 'Mean density (birds/km2)'
 'Number of birds' 'Mid-winter index (number of individuals)'
 'Estimated population size' 'Peak spring counts'
 'Estimated number of wintering individuals' 'Midwinter index (millions)'
 'Observations/100km' 'Observations/ 100km'
 'Estimated mean density (individuals/km2)' 'Average relative abundance'
 'Density (ha)' 'Average relative abundance\r'
 'Mean number of individuals per point'
 'number of individuals/1000 trap nights'
 'Mean minimum number known alive' 'Birds per km2'
 'Minimum number known alive' 'Estimated index of abundance'
 'Maximum density (number of hares per ha)'
 'Number of hares per unit distance' 'Maximum density (no. of hares/ha)'
 'Maximum number of adult bats' 'Estimated female abundance'
 'Number of active nests' 'Estimated number of breeding individuals'
 'Observed Pacific Coast breeding bird population size' 'Census'
 'individual birds' 'total number of individuals (Total Ni)'
 'whales/on-effort-km' 'number of nests'
 'estimated number of birds/individuals' 'Mean counts of individuals'
 'Abundance index']

In [160]:

mask = df['Units'] == "number of individuals/1000 trap nights"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *1000 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of nests"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Nest index"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "number of nests/km2"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "number of nests"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "No. nests"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of breeding pairs"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Occupied Nests"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Number of burrows"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'

mask = df['Units'] == "Breeding pairs"
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]
df.loc[mask, year_columns] = df.loc[mask, year_columns].map(lambda x: x *2 if pd.notna(x) else x)
df.loc[mask, 'Units'] = 'Population_value'


df.loc[df['Units'] != 'Abundance index', 'Units'] = 'Population_value'

unit_type_counts = df['Units'].value_counts()
filtered_counts = unit_type_counts[unit_type_counts > 3]
print(filtered_counts)

Units
Population_value    807
Abundance index      21
Name: count, dtype: int64

In [161]:
pop_df = df[df['Units'] == 'Population_value']
ab_df = df[df['Units'] == 'Abundance index']
year_columns = [col for col in df.columns if col.isdigit() and 1950 <= int(col) <= 2020]

# Replace NaNs with 0s (for summing purposes)
pop_df[year_columns] = pop_df[year_columns].fillna(0)

# Group by binomial name (species) and sum population data for each year
combined_df = pop_df.groupby('Binomial')[year_columns].sum().reset_index()

# Replace 0s back to NaNs
combined_df[year_columns] = combined_df[year_columns].replace(0, float('nan'))

C:\Users\User\AppData\Local\Temp\ipykernel_16144\3918296289.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop_df[year_columns] = pop_df[year_columns].fillna(0)

In [ ]:
combined_df

#cleaned dataframes are combined_df and ab_df

,Binomial,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Accipiter_cooperii,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aerodramus_bartschi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Agelaius_phoeniceus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alces_americanus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189127.5,NaN,NaN,162627.5,NaN,NaN,NaN,NaN,NaN,NaN
4,Ammodramus_savannarum,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,Zapus_trinotatus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,Zenaida_macroura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,Ziphius_cavirostris,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3343.0,NaN,NaN,NaN,NaN,NaN,NaN
329,Zonotrichia_leucophrys,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,Zosterops_japonicus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN